/* reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* reset CSS */

:root {
  --primary-color: #bc8e7d;
  --primary-light: #fcddd1;
  --primary-dark: #82514e;
  --secondary-color: #373b50;
  --secondary-light: #545c86;
  --secondary-dark: #14205a;
  --gold: #e7c060;
  --white: #ece2e2;
}

/* général */
body {
  width: 100vw;
  height: 2407px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

header {
  width: 1440px;
  height: 200px;
  background-color: var(--primary-color);
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#h_navbar {
  width: 1300px;
  height: 150px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: var(--gold);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_couture {
  width: 87.5px;
  height: 75px;
}

a:hover {
  filter: opacity(0.8);
}

#pages {
  width: 750px;
  height: auto;
  display: flex;
  justify-content: space-between;
  font-size: 2.2em;
  font-family: Arial, Helvetica, sans-serif;
  /* à modifer plus tard par "inter" */
  font-weight: bold;
  gap: 20px;
  color: var(--white);
}

#pages>a:hover {
  color: var(--gold);
}

#bar_recherche {
  width: 236px;
  height: 57px;
  border: 5px solid var(--secondary-light);
  border-radius: 100px;
  background-color: var(--gold);
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

#form_recherche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 225px;
}

#recherche {
  width: 135px;
  height: 25px;
  background-color: var(--white);
  border-radius: 100px;
  border: 0px solid var(--gold);
  color: var(--secondary-dark);
  font-size: 0.7em;
  padding-left: 10px;
}


footer {
  width: 1440px;
  height: 283px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_nav {
  width: 1290px;
  height: 227px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#reseaux_sociaux {
  width: 250px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
}

.footer_circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--secondary-dark);
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
}

#legislation {
  width: 335px;
  height: 120px;
  background-color: var(--white);
  border-radius: 25px;
  color: var(--secondary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
}

main {
  width: 1440px;
  height: calc(2407px - 483px);
  background-color: var(--primary-light);
}

/* Fin général */


/* Début index*/
#bloc_desc {
  width: 1440px;
  height: 532px;
  background-color: var(--primary-color);
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text_white {
  font-size: 1.7em;
  color: var(--white);
  margin: 0px 25px;
}

.text_gold {
  font-size: 2.2em;
  color: var(--gold);
}

#presentation {
  width: 890px;
  height: 382px;
  border-radius: 25px;
  background-color: var(--secondary-light);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

#calendrier {
  width: 397px;
  height: 382px;
}

#objectifs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

#objectifs_texte {
  width: 890px;
  height: 395px;
  background-color: var(--secondary-light);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

#article_media {
  width: 347px;
  height: 395px;
  border-radius: 50px;
  background-color: var(--secondary-light);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#bouton_play {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#section_realisation {
  width: 1440px;
  height: 549px;
  background-color: var(--primary-color);
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#fleche_gauche {
  margin-bottom: 180px;
}

#center_realisation {
  height: 549px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#der_realisation {
  width: 1074px;
  height: 325px;
  background-color: var(--secondary-light);
  border-radius: 25px;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 50px;
}

#der_realisation>p {
  justify-self: center;
  align-self: center;
}

#like_realisation {
  padding-right: 50px;
  align-self: flex-end;
}

#espace_commentaire {
  width: 409px;
  height: 110px;
  background-color: var(--secondary-light);
  border-radius: 25px;
  margin-left: 50px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fleche_droite {
  margin-bottom: 180px;
}


#bien_cousue {
  width: 1240px;
  height: 400px;
  background-color: var(--primary-color);
}

/* Fin index*/

/* page réalisation */


#image_page_realisation {
  width: 1440px;
  height: 776px;
}

#nav_controle_2{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav_bar_deux{
  width: 1285px;
  height: 193px;
  background-color: var(--primary-color);
  margin-top: 40px;
}

.li_component{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--secondary-color)
}

#list_p_lien{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transform: translate(0, 40px);
}

#bloc_post_realisation{
  width: 1440px;
  height: calc(2407px - 483px);

  
}

#component_realisation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px
}

.li_image_realisation{
  display: flex;
  flex-direction: column;
  font-size: 1.7em;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  text-align: center;
  border-radius: 20px;
}

.image_realisation{
  border: 3px solid var(--secondary-dark);
  border-radius: 20px;
  height: 250px;
  width: 350px;
}

#voir_plus{
  width: 274px;
  height: 74px;
  border-radius: 100px;
  background-color: var(--gold);
  font-size: 1.7em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}


/* Fin page réalisation */