@import url(style.css);

/* start Desktop Version */

/* start general */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.text-en_tete {
  color: var(--secondary-color);
  font-size: 3em;
}
h1,
.aside-tuto > h2 {
  color: var(--secondary-dark);
  font-size: 4rem;
}
h2 {
  color: var(--secondary-light);
  font-size: 3em;
}
/* end general */

/* *************************************************************************************************************************** */

/* start page tuto */
.section-tuto {
  width: 1100px;
  height: 720px;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin: 50px 0px;
}

.article-tuto {
  width: 100%;
  height: 100%;
}

.img-machine-tuto_link {
  width: 80%;
  height: 60%;
}

.img-machine-tuto {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.p-tuto {
  color: var(--secondary-color);
  font-size: 2rem;
}

.aside-tuto {
  width: 45%;
  height: 90%;
  gap: 30px;
}

.container-tuto {
  width: 100%;
  height: 25%;
  border: 3px solid var(--secondary-color);
  border-radius: 25px;
  background: linear-gradient(
    to right,
    var(--secondary-color) 50%,
    transparent 50%
  );
}

.img-container-tuto {
  width: 50%;
  height: 100%;
}

.logo-tuto {
  width: 125px;
  height: 100px;
}

.text-container-tuto {
  width: 50%;
  height: 100%;
}
/* end fin page tuto */

/* *************************************************************************************************************************** */

/* start page tuto par tech et par theme */
.section-tuto_tech_theme {
  width: 1000px;
  height: 500px;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin: 50px 0px;
}

.img-container-tuto_tech_theme {
  width: 45%;
  height: 100%;
  border-radius: 50px;
}

.container-tuto_tech_theme {
  width: 95%;
  height: 60%;
}

.p-tuto-tech_theme {
  color: var(--secondary-color);
  margin-top: 25px;
  line-height: 1.4em;
}
/* end page tuto par tech et par theme */

/* *************************************************************************************************************************** */

/* start page un tuto */
.section-un_tuto {
  width: 1000px;
  height: 1500px;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin: 50px 0px;
}

.img_container-un_tuto {
  width: 80%;
  height: 25%;
}

.img-machine_un_tuto {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: relative;
}

.img-machine_un_tuto ~ img {
  width: 100px;
  height: 100px;
  position: absolute;
}

.container-un_tuto {
  width: 80%;
  height: 200px;
}

.logo-container-un_tuto {
  width: 200px;
  height: 200px;
  background-color: var(--secondary-color);
}
/* end page un tuto */

/* end Desktop Version */

/* *************************************************************************************************************************** */

/* start Mobile Version */

/* start page tuto */

@media screen and (max-width: 391px) {
  /* start general */
  main {
    width: 390px;
  }
  h1,
  .aside-tuto > h2 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.25rem;
    color: var(--secondary-dark);
  }
  .text-en_tete {
    font-size: 1rem;
    color: var(--secondary-dark);
  }
  /* end general */

  /* *************************************************************************************************************************** */

  /* start page tuto */

  /* section 1 */

  .section-tuto {
    width: 290px;
    height: 350px;
  }

  .article-tuto {
    width: 100%;
    height: 100%;
  }

  .img-machine-tuto_link {
    width: 80%;
    height: 60%;
  }

  .img-machine-tuto {
    width: 100%;
    height: 100%;
  }

  .p-tuto {
    font-size: 1rem;
  }

  /* section 2 */

  .section-tuto:nth-of-type(2) {
    width: 290px;
    height: 800px;
    gap: 0;
  }

  .aside-tuto {
    width: 80%;
    height: 47%;
    gap: 0px;
  }

  .container-tuto {
    width: 100%;
    height: 20%;
    border: 3px solid var(--secondary-color);
  }

  .img-container-tuto {
    width: 50%;
    height: 100%;
  }

  .logo-tuto {
    width: 65px;
    height: 50px;
  }

  .text-container-tuto {
    width: 50%;
    height: auto;
  }

  .container-tuto {
    width: 100%;
    height: 25%;
    border: 3px solid var(--secondary-color);
    border-radius: 25px;
  }

  .img-container-tuto {
    width: 50%;
    height: 100%;
  }
  /* end page tuto */

  /* *************************************************************************************************************************** */

  /* start page tuto par tech-theme */

  .section-tuto_tech_theme {
    width: 280px;
    height: 560px;
  }

  .container-tuto_tech_theme {
    height: 80%;
  }

  .img-container-tuto_tech_theme {
    width: 60%;
    height: 30%;
  }

  .container-tuto_tech_theme > .text-container-tuto {
    height: auto;
    width: 90%;
    margin: 20px 0;
    order: 5;
  }

  .p-tuto-tech_theme {
    font-size: 0.8rem;
    margin-top: 20px;
    width: auto;
  }

  /* end page tuto par tech-theme */

  /* *************************************************************************************************************************** */

  /* start page un tuto */
  .section-un_tuto {
    width: 80%;
    height: 1800px;
  }

  .img_container-un_tuto {
    height: 10%;
  }
  .img-machine_un_tuto + img {
    width: 75px;
    height: 75px;
  }

  .container-un_tuto {
    height: auto;
  }

  .container-un_tuto > .logo-container-un_tuto {
    order: 1;
  }

  .container-un_tuto > .text-container-tuto {
    width: 70%;
    height: auto;
    order: 2;
    margin-top: 25px;
  }

  /* end page un tuto */
}

/* end Mobile Version */
