@import url(style.css);

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* ************************************************************************* */
/* Début Version Desktop ******************************************************/
/* ************************************************************************* */
/* Début Page Évènements **********************************************************/
.even_cadre_baniere {
  width: 1208px;
  height: 742px;
  background-color: var(--secondary-color);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 116px;
}

.even_baniere img {
  width: 1113px;
  height: 598px;
  border-radius: 50px;
}

.cadre_planning {
  width: 1340px;
  height: 680px;
  background-color: var(--primary-color);
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 50px;
  color: var(--secondary-dark);
  font-size: 3em;
}

.even_planning img {
  width: 1200px;
  height: 550px;
  border-radius: 25px;
}

.fond_exceptionnel {
  width: 1340px;
  height: 746px;
  background-color: var(--gold);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.conatenaire {
  display: grid;
  grid-template-columns: 330px 186px 186px 150px 213px 236px;
  grid-template-rows: 100px 100px 80px 80px 140px 50px 80px;
  margin-top: 70px;
  margin-bottom: 70px;
  grid-template-areas:
    "cadre_nos costum_girl costum_boy . image_theme papa_noel"
    "cadre_nos costum_girl costum_boy . image_theme papa_noel"
    "cadre_nos costum_girl costum_boy . image_theme papa_noel"
    "cadre_nos atelier_costume atelier_costume . atelier_creation atelier_creation"
    ". calendrier_halloween calendrier_halloween . calendrier_noel calendrier_noel"
    ". cliquer_left cliquer_left . cliquer_right cliquer_right"
    ". note_horraires note_horraires note_horraires note_horraires note_horraires";
}

.cadre_nos {
  grid-area: cadre_nos;
  width: 260px;
  height: 230px;
  border-radius: 20px;
  background-color: var(--secondary-dark);
  color: var(--gold);
  font-size: 2em;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.costum_boy img,
.costum_girl img {
  width: 186px;
  height: 270px;
}

.papa_noel img {
  width: 159px;
  height: 270px;
}

.image_theme img {
  width: 213px;
  height: 270px;
}

.calendrier_halloween img {
  width: 372px;
  height: 127px;
}

.calendrier_noel img {
  width: 372px;
  height: 127px;
}

.costum_boy {
  grid-area: costum_boy;
}

.image_theme {
  grid-area: image_theme;
}

.papa_noel {
  grid-area: papa_noel;
}

.atelier_costume {
  grid-area: atelier_costume;
  color: var(--secondary-dark);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.atelier_creation {
  grid-area: atelier_creation;
  color: var(--secondary-dark);
  font-size: 1.5em;
  margin-right: 110px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.calendrier_halloween {
  grid-area: calendrier_halloween;
}

.calendrier_noel {
  grid-area: calendrier_noel;
}


.cliquer_left {
  grid-area: cliquer_left;
  color: var(--secondary-dark);
  font-size: 1.3em;
  display: flex;
  justify-content: center;
}

.cliquer_right {
  grid-area: cliquer_right;
  color: var(--secondary-dark);
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  margin-right: 85px;
}

.note_horraires {
  grid-area: note_horraires;
  width: 900px;
  height: 61px;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--secondary-dark);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* Fin Page Évènements **********************************************************/

/* Début Page Nos ateliers ******************************************************/
.baniere_titre {
  width: 1340px;
  height: 178px;
  background-color: var(--secondary-dark);
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: var(--gold);
}

.nom_atelier {
  width: 1340px;
  height: 392px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.atelier_flex {
  display: flex;
  flex-direction: column;
  width: 896px;
  height: 380px;
  justify-content: space-evenly;
  align-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.nom_atelier img {
  width: 417px;
  height: 340px;
  margin-left: 20px;
  border-radius: 50px;
}

.fond_light {
  background-color: var(--secondary-light);
}

.baniere_exep {
  width: 1340px;
  height: 178px;
  background-color: var(--gold);
  margin-left: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  color: var(--secondary-dark);
}

.note_horaires {
  columns: var(--secondary-dark);
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-style: italic;

}


.atelier_exceptionnel {
  width: 1340px;
  height: 470px;
  margin-bottom: 50px;
  margin-left: 50px;
  background-color: var(--secondary-dark);
  margin-top: 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: 210px 210px 840px;
  grid-template-rows: 140px 270px;
  grid-template-areas:
    "a1 a2 a3"
    "a1 a2 b1";

}

.photo_girl {
  grid-area: a1;
}

.photo_boy {
  grid-area: a2;
}

.titre_atelier_exep {
  grid-area: a3;
}

.description_atelier {
  grid-area: b1;
}

.fond_atelier {
  grid-area: a3;
}

.atelier_exceptionnel img {
  width: 209px;
  height: 361px;
  margin-top: 100px;
}

.fond_atelier {
  width: 745px;
  background-color: var(--gold);
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  padding: 60px;
  margin-bottom: 50px;
}

.description_atelier {
  font-size: 2em;
  margin-top: 30px;
  margin-left: 60px;

}

.fond_light {
  background-color: var(--secondary-light);
}

/* Fin Page Nos ateliers ******************************************************/


/* Début Page Évènements et moments marquant ******************************************************/

.baniere {
  display: grid;
  grid-template-columns: 645px 530px;
  grid-template-rows: 300px 300px;
  gap: 110px;
  margin-bottom: 150px;
  margin-left: 75px;
  grid-template-areas:
    "a b"
    "a c";
}

.porte_ouverte {
  grid-area: a;
}

.vacances_creation {
  grid-area: b;
}

.fete_recup {
  grid-area: c;

}

.img_vacancesrecup {
  width: 530px;
  height: 296px;
}

.img_porte_ouverte {
  width: 642px;
  height: 710px;
}

.legende-porte {
  color: var(--secondary-dark);
  font-size: 2.5em;
  align-items: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legende_vacances_recup {
  color: var(--secondary-dark);
  font-size: 2em;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container_porte_ouverte {
  width: 1300px;
  height: 600px;
  background-color: var(--primary-color);
  margin-left: 70px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.container_porte_ouverte h1 {
  font-size: 3em;
  color: var(--secondary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

}

.images_porte_ouverte h2 {
  font-size: 1em;
  color: var(--secondary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.images_porte_ouverte {

  font-size: 2em;
  color: var(--secondary-dark);
  display: grid;
  grid-template-columns: 90px 310px 310px 310px 90px;
  grid-template-rows: 310px 60px 200pxpx;
  gap: 40px;
  margin-left: 20px;
  grid-template-areas:
    "arrow_left photo1 photo2 photo3 arrow_right"
    ". photo1 photo2 photo3 ."
    ". description1 description2 description3 .";
}

.arrow_left {
  grid-area: arrow_left;
  margin-top: 124px;
}

.arrow_right {
  grid-area: arrow_right;
  margin-top: 124px;

}

.photo1 {
  grid-area: photo1;
}

.photo2 {
  grid-area: photo2;
}

.photo3 {
  grid-area: photo3;
}

.description1 {
  grid-area: description1;
}

.description2 {
  grid-area: description2;
}

.description3 {
  grid-area: description3;
}

.images_porte_ouverte .arrow {
  width: 61px;
  height: 59px;
}

.images_porte_ouverte>.photo1,
.photo2,
.photo3 {
  width: 307px;
  height: 330px;
  background-color: var(--white);
}

/* Fin Page Évènements et moments marquant ******************************************************/

/* ************************************************************************* */
/* Fin Version Desktop ******************************************************/
/* ************************************************************************* */

/* ************************************************************************* */
/* Début Version mobile ******************************************************/
/* ************************************************************************* */

/* Version mobile _ Début Page Évènements **********************************************************/
@media screen and (max-width: 390px) {

  /* start general */
  main {
    width: 390px;
  }


  /* end general */
  .even_cadre_baniere {
    display: none;

  }

  .even_baniere img {
    display: none;

  }

  .cadre_planning {
    width: 370px;
    height: 188px;
    background-color: var(--primary-color);
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }

  .titre_planning {
    display: none;
  }

  .even_planning img {
    width: 336px;
    height: 167px;
    border-radius: 0%;

  }

  .fond_exceptionnel {
    width: 370px;
    height: 486px;
    background-color: var(--secondary-light);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .cadre_nos {
    grid-area: cadre_nos;
    width: 346px;
    height: 76px;
    border-radius: 20px;
    background-color: var(--secondary-dark);
    color: var(--gold);
    font-size: 2em;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .conatenaire {
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 100px 100px 20px 100px 100px;
    margin-top: 24px;
    margin-bottom: 24px;
    grid-template-areas:
      "atelier_costume atelier_costume costum_girl costum_boy"
      "calendrier_halloween calendrier_halloween costum_girl costum_boy"
      ". . . ."
      "image_theme papa_noel atelier_creation atelier_creation"
      "image_theme papa_noel atelier_creation calendrier_noel";

  }



  .costum_boy img,
  .costum_girl img,
  .papa_noel img,
  .image_theme img {
    width: 89px;
    height: 190px;
  }

  .calendrier_halloween img {
    width: 128px;
    height: 34px;
  }

  .calendrier_noel img {
    width: 128px;
    height: 34px;
  }

  .costum_boy {
    grid-area: costum_boy;
  }

  .image_theme {
    grid-area: image_theme;
  }

  .papa_noel {
    grid-area: papa_noel;
  }

  .calendrier_halloween {
    grid-area: calendrier_halloween;
  }

  .calendrier_noel {
    grid-area: calendrier_noel;
  }

  .atelier_costume {
    grid-area: atelier_costume;
    color: var(--secondary-dark);
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .atelier_creation {
    grid-area: atelier_creation;
    color: var(--secondary-dark);
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .cliquer_left {
  display: none;
  }

  .cliquer_right {
    display: none;

  }

  .note_horraires {
    grid-area: note_horraires;
    position: absolute;
    width: 346px;
    height: 61px;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--secondary-dark);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

}

/* Fin Page Évènements **********************************************************/