@import url(style.css);

/* start Desktop Version */

/* start general */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.text-en_tete {
  color: var(--secondary-color);
  font-size: 3em;
}
h1 {
  color: var(--secondary-dark);
  font-size: 4rem;
}
h2 {
  color: var(--secondary-light);
  font-size: 3em;
}
/* end general */

/* start page tuto */
.section-tuto {
  width: 1100px;
  height: 720px;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin: 50px 0px;
}

.article-tuto {
  width: 100%;
  height: 100%;
}

.img-machine-tuto_link {
  width: 80%;
  height: 60%;
}

.img-machine-tuto {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.p-tuto {
  color: var(--secondary-color);
  font-size: 2rem;
}

.aside-tuto {
  width: 45%;
  height: 90%;
  gap: 30px;
}

.container-tuto {
  width: 100%;
  height: 25%;
  border: 3px solid var(--secondary-color);
  border-radius: 25px;
}

.img-container-tuto {
  width: 50%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--secondary-color);
}

.logo-tuto {
  width: 125px;
  height: 100px;
}

.text-container-tuto {
  width: 50%;
  height: 100%;
}
/* end fin page tuto */

/* start page tuto par tech et par theme */
.section-tuto_tech_theme {
  width: 1000px;
  height: 500px;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin: 50px 0px;
}

.img-container-tuto_tech_theme {
  width: 45%;
  height: 100%;
  border-radius: 50px;
}

.container-tuto_tech_theme {
  width: 95%;
  height: 60%;
}

.p-tuto-tech_theme {
  color: var(--secondary-color);
  margin-top: 25px;
  line-height: 1.4em;
}
/* end page tuto par tech et par theme */

/* start page un tuto */
.section-un_tuto {
  width: 1000px;
  height: 1500px;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin: 50px 0px;
}

.img_container-un_tuto {
  width: 80%;
  height: 25%;
}

.img-machine_un_tuto {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: relative;
}

.img-machine_un_tuto ~ img {
  width: 100px;
  height: 100px;
  position: absolute;
}

.container-un_tuto {
  width: 80%;
  height: 200px;
}

.logo-container-un_tuto {
  width: 200px;
  height: 200px;
  background-color: var(--secondary-color);
}
/* end page un tuto */

/* end Desktop Version */

/* start Mobile Version */

/* start page tuto */

@media screen and (max-width: 390px) {
  /* start general */
  main {
    width: 390px;
    height: 5000px;
  }
  .text-en_tete {
    font-size: 1.5em;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5em;
  }
  /* end general */
  .section-tuto {
    width: 290px;
    height: 2000px;
  }

  .article-tuto {
    width: 100%;
    height: 100%;
  }

  .img-machine-tuto_link {
    width: 80%;
    height: 60%;
  }

  .img-machine-tuto {
    width: 100%;
    height: 100%;
  }

  .p-tuto {
    font-size: 1.5rem;
  }

  .aside-tuto {
    width: 90%;
    height: 25%;
    /* gap: 30px; */
  }

  .container-tuto {
    width: 100%;
    height: 10%;
    /* border: 3px solid var(--secondary-color); */
  }

  .img-container-tuto {
    width: 50%;
    height: 100%;
    border-radius: 20px;
  }

  .logo-tuto {
    width: calc(125px / 2);
    height: calc(100px / 2);
  }

  .text-container-tuto {
    width: 50%;
    height: 100%;
  }
}

/* end page tuto */

/* end Mobile Version */
